:root {
    font-family: 'Red Hat Display', sans-serif;
    --purple-color: #6B59D0;
    --light-purple-color: #DEDDEB;
    --white-color: #FFFFFF;
    --dark-color: #374151;
    --light-grey-color: #6B7280;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    position: relative;
}

body::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    max-height: 80px;
    background: url(resources/background-small.png) no-repeat;
}
.main-content {
    margin: 0 40px 0 20px;;
    display: grid;
    border-left: 1px dashed var(--light-purple-color);
    padding: 80px 20px;
    max-width: 640px;
}

.overlay {
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column-reverse;
}

.headline {
    color: var(--dark-color);
    font-size: 2rem;
    letter-spacing: -1px;
    font-weight: 800;
    margin: 30px 0 40px;
}

.subheadline {
    color: var(--purple-color);
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-top: 12px;
}

p {
    font-size: 1.25rem;
    font-weight: 400;
}

.article > * {
    margin-bottom: 20px;
}

.article-img {
    width: 52px;
    margin-bottom: 32px;
}

.article-headline {
    color: var(--dark-color);
    font-weight: 800;
    position: relative;
}

.article-headline::before {
    position: absolute;
    content: "";
    top: 0;
    left: -21.5px;
    bottom: 0;
    border: 1px solid var(--purple-color);
}

.article-subheadline {
    color: var(--light-grey-color)
}

.purple {
    color: var(--purple-color)
}

@media screen and (min-width: 640px) {
    body {
        margin: 0;
    }
    body::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        max-height: 191px;
        background: url(resources/background-png.png) no-repeat;
    }
    
    .headline {
        margin: 20px 0 80px 0;
        font-size: 3rem;
    }

    .subheadline {
        margin-top: 0;
        font-size: 1.5rem;
    }

    .header {
        width: 80%;
    }
    .main-content {
        margin: 0 70px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "header header"
            "one two"
            "three four";
        border-left: 1px dashed var(--light-purple-color);
        padding: 191px 20px 80px;
        gap: 40px;
        max-width: 100%;
    }

    .main-content::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        border-right: 1px dashed var(--light-purple-color);
        z-index: -1;
    }

    .header {
    grid-area: header;
    }

    .one {
    grid-area: one;
    }

    .two {
    grid-area: two;
    }

    .three {
    grid-area: three;
    }

    .four {
    grid-area: four;
    }
}

@media screen and (min-width: 1025px) {
    body::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100vw;
        max-height: 191px;
        background: url(resources/background-png.png) no-repeat;
        background-size: cover;
    }

    .headline {
        margin: 20px 0;
    }

    .main-content {
        margin: 0 70px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "header header header header"
            "one two three four";
        border-left: 1px dashed var(--light-purple-color);
        padding: 0 20px;
        gap: 40px;
        max-width: 100%;
        height: 100vh;
    }

.two {
    position: relative;
}

 .two::before {
        content: "";
        position: absolute;
        left: -21.5px;
        top: -20000px;
        bottom: 0;
        width: 1px;
        border-right: 1px dashed var(--light-purple-color);
        position: absolute;
        z-index: -1;
    }

.four {
    position: relative
}
.four::before {
    content: "";
    position: absolute;
    left: -21.5px;
    top: -20000px;
    bottom: 0;
    width: 1px;
    border-right: 1px dashed var(--light-purple-color);
    position: absolute;
    z-index: -1;
}
}